<header>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
        <strong class="blue-text">Precise Location Marketing System</strong>
      </a>

      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <a id="navbar-static-login" class="btn btn-info btn-rounded btn-sm waves-effect waves-light">LOG OUT
          <i class="fa fa-sign-out ml-2"></i>
        </a>
      </ul>


    </div>
  </nav>
  <!-- Navbar -->
  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed" style="background-image : url(../assets/img/sample.jpg);">

    <a class="logo-wrapper waves-effect " style="background-color: white">
      <img src="../assets/img/plms.png" class="img-fluid" alt="">
      <!-- <h3 style="font-family: 'Courier New', Courier, monospace;font-weight: bold">PLMS</h3> -->
    </a>

    <div class="list-group list-group-flush">
      <a routerLink="/server" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-tachometer mr-3"></i>Dashboard
      </a>
      <a routerLink="/geofence" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-tencent-weibo mr-3"></i>Manage Fence</a>
      <a routerLink="/staff" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-users mr-3"></i>Staff</a>
      <a routerLink="/notifications" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-bell mr-3"></i>Notification</a>
      <a routerLink="/map" class="list-group-item active waves-effect">
        <i class="fa fa-map-marker mr-3"></i>Maps</a>
    </div>

  </div>
  <!-- Sidebar -->

</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
<!-- <div *ngIf="lat && lng">
  <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <h3>
          <strong>Hello Welcome</strong>
        </h3>
        <p>You are here {{lat}} , {{lng}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div> -->
<agm-map [zoom]="10" [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let loc of customerLoc" [latitude]="loc.latitude" [longitude]="loc.longitute">
    <agm-info-window>
      <h3>
        <strong>Name: {{loc.customer_ref}}</strong>
        <p>{{loc | json}}</p>
      </h3>
    </agm-info-window>
  </agm-marker>
</agm-map>
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fa fa-facebook mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fa fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fa fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fa fa-google-plus mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fa fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fa fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fa fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fa fa-codepen mr-3"></i>
    </a>
  </div>

  <div class="footer-copyright py-3">
    © 2018 Copyright:
    <a href="" target="_blank">PLMS</a>
  </div>


</footer>

<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
