<header>
  <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" routerLink="/server" target="_blank">
        <strong class="blue-text">Precise Location Marketing System</strong>
      </a>

      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <a id="navbar-static-login" class="btn btn-info btn-rounded btn-sm waves-effect waves-light">LOG OUT
          <i class="fa fa-sign-out ml-2"></i>
        </a>
      </ul>


    </div>
  </nav>
  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed" style="background-image : url(../assets/img/sample.jpg);">

    <a class="logo-wrapper waves-effect " style="background-color: white">
      <img src="../assets/img/plms.png" class="img-fluid" alt="">
      <!-- <h3 style="font-family: 'Courier New', Courier, monospace;font-weight: bold">PLMS</h3> -->
    </a>

    <div class="list-group list-group-flush">
      <a routerLink="/server" class="list-group-item waves-effect list-group-item-action">
        <i class="fa fa-tachometer mr-3"></i>Dashboard
      </a>
      <a routerLink="/geofence" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-tencent-weibo mr-3"></i>Manage Fence</a>
      <a routerLink="/staff" class="list-group-item active  waves-effect">
        <i class="fa fa-users mr-3"></i>Staff</a>
      <a routerLink="/notifications" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-bell mr-3"></i>Notification</a>
      <a routerLink="/map" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-map-marker mr-3"></i>Maps</a>
    </div>

  </div>
  <!-- Sidebar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mx-lg-5">
  <div class="container-fluid mt-5">
    <button type="button" mdbBtn class="btn btn-sm btn-primary relative waves-light" (click)="basicModal.show()" mdbWavesEffect>
      ADD STAFF
    </button>

    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Staff Registration</h4>
          </div>
          <div class="modal-body">
            <!-- Register form -->
            <form (ngSubmit)="addStaff(staffInterface)">
              <p class="h5 text-center mb-4">Sign up</p>

              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="fname" class="form-control" required mdbInputDirective [(ngModel)]="staffInterface.first_name" name="first_name">
                <label for="fname">First name</label>
              </div>
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="sname" class="form-control" required mdbInputDirective [(ngModel)]="staffInterface.second_name" name="second_name">
                <label for="sname">Second name</label>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email"  id="orangeForm-email" class="form-control" required mdbInputDirective [(ngModel)]="staffInterface.email" name="email">
                <label for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password"  id="orangeForm-pass" class="form-control" required mdbInputDirective [(ngModel)]="staffInterface.password" name="password">
                <label for="orangeForm-pass">Your password</label>
              </div>
                        <button type="submit" class="btn btn-sm btn-primary relative waves-light" mdbWavesEffect>Save changes</button>

                </form>
                <!-- Register form -->
                </div>
              <div class="modal-footer">
                <button type="button"  class="btn btn-sm btn-primary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
              </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-10 flex-center">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Department</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let staffs of staff">
                <td scope="row">#</td>
                <td >{{staffs.first_name}}</td>
                <td>{{staffs.second_name}}</td>
                <td>{{staffs.email}}</td>
                <td>Depart25</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary">DELETE</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="fixed-bottom page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fa fa-facebook mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fa fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fa fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fa fa-google-plus mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fa fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fa fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fa fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fa fa-codepen mr-3"></i>
    </a>
  </div>

  <div class="footer-copyright py-3">
    © 2018 Copyright:
    <a href="" target="_blank">PLMS </a>
  </div>


</footer>

<script>
  // Animations initialization
  new WOW().init();
</script>
